/*
Código CSS Practica9.css
*/

*{
    box-sizing: border-box;
}

header,footer{
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

.separador1{
    height: 10px;
    clear: both;
}

.separador2{
    width: 2%;
    height: 1px;
    float: left;
}

.centro{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main{
    height: 1200px;
}

img{
    transition: all 0.5s ease;
    border-style: solid;
    border-color: white;
}

img:hover{
    transform: scale(0.9);
    border-radius: 30px;
}

.main img{
    width: 49%;
    float: left;
}

body{
    background-image: url(img/foto6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: grey;
}