/*
   Hoja de Estilos PRACTICA7.CSS
*/

h2{
    text-align: center;
}

header{
    background-color: rgba(204, 158, 43, 0.99);
    text-align: center;
    padding: 20px;
}

section{
    width:33%;
    float: left;
}

footer{
    background-color: rgba(204, 158, 43, 0.99);
    text-align: center;
    padding: 20px;
    clear: both;
}